.img1 {
  background: url(https://foodhub.modeltheme.com/wp-content/uploads/2020/02/foodhub-slider-main-food-v4.jpg?id=20741);
  background-size: cover;
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  overflow-x: hidden;
  color: white;
}

.img2 {
  background: url("https://foodhub.modeltheme.com/wp-content/uploads/2020/02/call-to-action-v2.jpg?id=20778");
  background-size: cover;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  overflow-x: hidden;
  color: white;
}

#title {
  font-family: "Signika", sans-serif;
  font-size: 6rem;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Signika", sans-serif;
}

h1 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 5em;
}

h2 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Signika", sans-serif;
}

.content {
  font-family: "Signika", sans-serif;
  padding-top: 25%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.content2 {
  font-family: "Signika", sans-serif;
  padding-top: 20%;
  padding-bottom: 18%;
}

.content3 {
  font-family: "Signika", sans-serif;
  padding-bottom: 8%;
}

.content4 {
  font-family: "Signika", sans-serif;
  padding-top: 8%;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.container #slim {
  width: 19rem;
}
.info {
  color: black;
}

.card {
  width: fit-content;
}

.btn {
  border-radius: 500px;
  -webkit-border-radius: 500px;
  width: 30%;
  font-weight: 700;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}

.secbtn:hover {
  background-color: white;
  color: black;
}

.footBk {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  text-align: center;
}

.footWh {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
}
.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}

.bottom-text {
  margin-left: 15px;
  text-align: left;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-in {
  -webkit-animation: fade-in 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#mainNavbar {
  font-size: 1.5rem;
  font-family: "Signika", sans-serif;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .navbar-brand {
  font-size: 2rem;
}

#Reg {
  padding-top: 10%;
}

#rcorners1 {
  border-radius: 25px;
}

/* ----------------------------------------------
   * Generated by Animista on 2020-4-21 11:27:20
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation slide-in-left
   * ----------------------------------------
   */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-10 15:16:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
