body {
    margin: 0;
}   

.homepage {
    font-size: 5rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem;
    margin: 2rem 0;
}

nav > div > a {
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

nav > div > a:hover, .selected {
    text-decoration: none;
    color: white;
    background-color: tomato;
}

.popularlink {
    font-size: 2rem;
}

.loginregisterlink {
    font-size: 1.5rem;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.remove, input.ingr, .add {
    padding: 0.5rem;
    font-size: 1rem;
}

input.ingr, .add {
    width: 90%;
    margin: 1rem auto;
    box-sizing: border-box;
}

.form, .loginbutton  {
    display: flex;
    justify-content: center;
}

.loginform {
    text-align: center;
}

.logininputs {
    width: 50%;
    margin: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
}

.logindiv {
    text-align: right;
    width: 70%;
}

.loginbutton {
    padding: 1rem;
    border-radius: 10px;
    margin: 0 auto;
}

.error {
    display: flex;
    justify-content: center;
    background-color: tomato;
    width: 100vw;
    padding: 1rem;
}

.invisibleerror {
    display: none;
}

label {
    font-size: 1.5rem;
}

.favoritefood {
    padding: 5rem;
    color: blue;
    font-size: 2rem;
}

.recipe-card > ul > p {
    font-size: 2rem;
}

.recipe-card {
    margin: 4rem;
    padding: 2rem;
    border-bottom: 1px solid black;
}

.search-again {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
}